{% extends 'base.html' %}
{% from 'includes/macros.html' import form_field, form_checkbox %}
{% block title %}{{ _('Register') }}{% endblock %}

{% block content %}
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-12 mx-auto">
      <h2 class="mt-3 mb-5 text-center">
        {{ _('Sign Up') }}
        <hr class="w-50 mx-auto">
      </h2>
      <form method="post">
        
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
          {{ form_field(form.username, id='username', aria_describedby='username-help') }}
          <div id="username-help" class="form-text">
            {{ _('Username must have only letters, numbers, dots or underscores') }}
          </div>
        </div>
        
        <div class="mb-3">
          {{ form_field(form.email, id='email') }}
        </div>
        
        <div class="mb-3">
          {{ form_field(form.password, id='password', aria_describedby='password-help') }}
          <div id="password-help" class="form-text">
            {{ _('Password must be 6 characters long, contain one number and one symbol') }}
          </div>
        </div>
        
        <div class="mb-3">
          {{ form_field(form.confirm_password, id='confirm-password') }}
        </div>
        
        <div>
          {% 
            set terms_text =
            _('I Agree on') 
            + ' <a href="url">'|replace('url', url_for('main.index'))|safe
            + _('Terms & Conditions')
            + '</a>'|safe
          %}
          {{ form_checkbox(form.terms, id='terms', label=terms_text) }}
        </div>
        
        <div class="d-grid col-12 mx-auto">
          {{ form.submit(class='btn btn-ink py-2') }}
        </div>
      </form>
      <p class="mt-5 text-center text-secondary fw-bold">
        {{ _('Already have an account?') }} 
        <a href="{{ url_for('auth.login') }}">{{ _('Login here') }}</a>
      </p>
    </div>
    <div class="p-0 col-lg-6 d-lg-block d-none">
      <img class="w-100 vh-100" src="{{ url_for('static', filename='assets/bookshelf.jpeg') }}">
    </div>
  </div>
</div>
{% endblock %}
