{% extends 'base.html' %}

{% block title %}{{ _('Create Post') }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create-post-form.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
  <script>
    const form = document.getElementById('create-post');
    const quill = new Quill('#editor', {
      theme: 'snow',
      placeholder: 'Compose an Epic...', 
    });
    
    if (quill.root.textContent === 'None') {
      text = '';
    }
    
    quill.root.innerHTML = text;
    form.addEventListener('formdata', ev => {
      ev.formData.append('content', quill.root.innerHTML);
    });
  </script>
  <script>
    let imageInput = document.getElementById('image');
    let imagePreview = document.getElementById('preview');
    
    imageInput.addEventListener('change', ev => {
      let file = ev.target.files[0];
      if (file) {
        const objectURL = URL.createObjectURL(file);
        imagePreview.style.backgroundImage = `url(${objectURL})`;
      }
      
    });
  </script>
{% endblock %}

{% block content %}
<div class="container-fluid m-0 p-0 h-100">
<div class="row h-100">
  <div class="col-12 h-100">
    <form method="post" enctype="multipart/form-data" class="h-100" id="create-post">
      {{ form.hidden_tag() }}
      
      <div id="preview">
        <div id="upload-image">
          {{ form.image(accept='image/*', class='form-control rounded-0') }}
        </div>
      </div>

      <div>
        {{ form.title(class='form-control', id='title', placeholder=form.title.label.text) }}
      </div>
      
      <div>
        {{ form.category(class='form-select') }}
      </div>
      
      <div class="mb-5 vh-100" id="editor" style="font-size:16px;">
        {{ form.content.data }}
      </div>
      
      {#
      {{ form.content(id='content', style='display:none;') }}
      #}
      <div class="d-grid w-25 mx-auto">{{ form.submit(class='btn btn-ink') }}</div>
    </form>
</div>
</div>
{% endblock %}
