{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container pt-4">
  <div class="row mb-3">
    <div class="col-12">
      <h3>{{ post.title }}</h3>
      <div>
        
        {% set post_images = post.images.all() %}
        {% if post_images != [] %}
          <div style="width:100%; height:600px;">
            <img style="width: 100%; height:100%; object-fit:cover;" src="{{ post_images[0].url }}">
          </div>
        {% endif %}
        
        <p class="mb-0 mt-3 fw-bold">
          {{ _('Category') }}: 
          <a href="{{ url_for('main.get_by_category', slug=post.category.slug) }}">
            {{ post.category.name }}
          </a>
        </p>
        
        <p class="m-0">
          Author: 
          <a href="{{ url_for('user.profile', username=post.user.username) }}">
            @{{ post.user.username }}
          </a>
        </p>
        
        <p class="m-0">Created at: <span class="time">{{ post.created_at }}</span></p>
        {% if post.updated_at %}
          <p class="m-0">Updated at: <span class="time">{{ post.updated_at }}</span></p>
        {% endif %}
        
        <hr>
      </div>
      <div>{{ post.content|safe }}</div>
    </div>
  </div>
  
  <div class="row">
    <hr>
    <div class="col-lg-8 col-md-8 col-12">
      <h5>{{ _('Comments') }} ({{ comments|length }})</h5>
    
      {% if comments %}
        {% for comment in comments %}
          <div class="d-flex w-100 my-3">
            <div class="mx-2">
              <img class="rounded-circle" src="{{ comment.user.gavatar(32) }}">
            </div>
            
            <div class="flex-grow-1 border border-1 rounded-2 p-2" style="background-color:#fff;">
              <h6>@{{ comment.user.username }}</h6>
              <small class="text-secondary">
                <i class="bi bi-calendar-date"></i>
                <span class="time">{{ comment.created_at }}</span>
              </small>
              <p class="mt-2">{{ comment.content }}</p>
              {% if 
                  current_user.is_authenticated and 
                  current_user.id == comment.user.id %}
                <form method="post" action="{{ url_for('blog.delete_comment', id=comment.id) }}">
                  {{ delete_comment_form.csrf_token }}
                  {{ delete_comment_form.id(value=post.slug) }}
                  
                  <button type="submit" style="border:none;background:none;color:crimson;">
                    <i class="bi bi-trash fs-5"></i>
                  </button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ _('No Comments') }}</p>
      {% endif %}
    </div>
    
    <h5>{{ _('Leave a Comment') }}</h5>
    <div class="col-lg-6">
      <div class="">
        {% if current_user.is_authenticated and current_user.can(Permission.COMMENT) %}
        <form method="post" action="{{ url_for('blog.create_comment') }}">
          {{ create_comment_form.csrf_token }}
          {{ create_comment_form.post_id(value=post.id) }}
          <div class="mb-3">
            {{ create_comment_form.content(class='form-control') }}
          </div>
          <div class="ms-auto">{{ create_comment_form.submit(class='btn btn-ink') }}</div>
        </form>
        {% else %}
          <p>{{ _('Please login to write a comment') }}</p>
        {% endif %}
      </div>
      
      
    </div>
  </div>
  
</div>
{% endblock %}
