{% extends 'base.html' %}
{% from 'includes/macros.html' import pagination_widget %}
{% block title %}{{ _('Workspace') }}{% endblock %}

{% block head %}
  {{ super() }}
  
  <style>
    .status-draft {
      color: var(--alert);
      font-weight: bold;
    }
    
    .status-published {
      color: green;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column h-100 pt-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h2>{{ _('Workspace') }}</h2>
        <a href="{{ url_for('blog.create_post') }}" class="btn btn-slate" style="line-height:2;">
          <i class="bi bi-plus-lg icon"></i>
          {{ _('New Post') }}
        </a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 col-12">
      {% for post in posts %}
        <a class="border border-1 ps-2 mt-3 d-block text-decoration-none" href="{{ url_for('blog.edit_post', id=post.id) }}">
          <div class="row p-2">
            <h5 class="mb-0 col-lg-10 col-md-9">{{ post.title }}</h5>
            <p class="mb-0 col-lg-2 col-md-3">
              <span class="status-{{ post.status }}">
                {% if post.status == 'published' %}
                  <i class="bi bi-check-circle-fill"></i>
                {% else %}
                  <i class="bi bi-dash-circle-fill"></i>
                {% endif %}
                {{ post.status }}
              </span>
            </p>
          </div>
          
          <p class="ps-2">
            {% if post.content %}
              {{ post.plain_content() }}...
            {% endif %}
          </p>
        </a>
      {% endfor %}
    </div>
  </div>
  
  <div class="row mt-auto">
    {{ pagination_widget(pagination=pagination, endpoint='blog.workspace') }}
  </div>
  
</div>
{% endblock %}
