{% extends 'base.html' %}
{% from 'includes/macros.html' import pagination_widget %}
{% block title %}{{ _('Workspace') }}{% endblock %}

{% block head %}
  {{ super() }}
  
  <style>
    .status-draft {
      color: var(--alert);
      font-weight: bold;
    }
    
    .status-published {
      color: green;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column h-100 pt-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h2>{{ _('Workspace') }}</h2>
        <a href="{{ url_for('blog.create_post') }}" class="btn btn-slate" style="line-height:2;">
          <i class="bi bi-plus-lg icon"></i>
          {{ _('New Post') }}
        </a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 col-12">
      {% for post in posts %}
        <div class="border border-1 rounded-2 mt-3">
          <div class="border-bottom ps-3">
            
            <span class="status-{{ post.status }} me-3">
              Status:
              {% if post.status == 'published' %}
                <i class="bi bi-check-circle-fill"></i>
              {% else %}
                <i class="bi bi-dash-circle-fill"></i>
              {% endif %}
              {{ post.status }}
            </span>
            
            <a 
                href="{{ url_for('blog.get_post', slug=post.slug) }}" 
                class="text-decoration-none me-2">
              <i class="bi bi-eye-fill fs-5"></i>
            </a>
            
            <form class="d-inline me-2" method="post" action="{{ url_for('blog.change_post_status', id=post.id) }}">
              {{ change_post_status_form.csrf_token }}
              {{ change_post_status_form.id(value=post.id) }}
              
              {#
              {{ change_post_status_form.submit(value='Change') }}
              #}
              <button type="submit" style="border:none;background:none;color:var(--alert);">
                {% if post.status == 'draft' %}
                  <i class="bi bi-send-check fs-4"></i>
                {% else %}
                  <i class="bi bi-file-earmark-text fs-4"></i>
                {% endif %}
              </button>
            </form>
            
            <form class="d-inline me-2" method="post" action="{{ url_for('blog.delete_post', id=post.id) }}">
              {{ delete_post_form.csrf_token }}
              {{ delete_post_form.id(value=post.id) }}
              {#
              {{ delete_post_form.submit(value='Delete') }}
              #}
              <button type="submit" style="border:none;background:none;color:crimson;">
                <i class="bi bi-trash fs-5"></i>
              </button>
            </form>
            
          </div>
          
        <a class="mt-3 d-block text-decoration-none p-2" href="{{ url_for('blog.edit_post', id=post.id) }}">
          <div class="">
            <h5>{{ post.title }}</h5>
          </div>
          <p class="">
            {% if post.content %}
              {{ post.plain_content() }}...
            {% endif %}
          </p>
        </a>
        
        <p class="fw-bold px-2 border-top pt-2">Category: {{ post.category.name }}</p>
      </div>
        
      {% endfor %}
    </div>
  </div>
  
  <div class="row mt-auto">
    {{ pagination_widget(pagination=pagination, endpoint='blog.workspace') }}
  </div>
  
</div>
{% endblock %}
