{% extends 'base.html' %}

{% block title %}{{ _('Profile') }} - {{ user.username }}{% endblock %}

{% block content %}
<div class="container">
<div class="row justify-content-between">
  <div class="col-lg-3 col-12 bg-white border border-1 mt-4 p-2">
    <div class="text-center pb-2">
      <img class="rounded-circle" src="{{ user.gavatar(size=96) }}">
      <h4>{{ user.username }}</h4>
      <p class="m-0">{{ _('member since') }}: <span class="time">{{ user.created_at }}</span></p>
      <p class="m-0">{{ _('last seen') }}: <span class="time">{{ user.last_seen }}</span></p>
    </div>
    <div class="border-top p-1 pt-3">
      <h6>{{ _('About me') }}</h6>
      <p>
        {% if user.bio %}
          {{ user.bio }}
        {% else %}
          {{ _('This user did not write anything about themselves') }}
        {% endif %}
      </p>
    </div>
  </div>
  <div class="col-lg-8 col-12 bg-white border border-1 mt-4 p-2">
    <div class="mb-3">
      <h4>{{ _('Posts') }}</h4>
      {% if posts == [] %}
        <p>{{ _('This user has no posts currently') }}</p>
      {% else %}
        {% for post in posts %}
          <a href="{{ url_for('blog.get_post', slug=post.slug) }}" class="border ps-2 mt-3 d-block text-decoration-none">
            <h5 class="mb-0">{{ post.title }}</h5>
            <p class="ps-2">{{ post.plain_content() }}...</p>
          </a>
        {% endfor %}
      {% endif %}
    </div>
    <hr>
    <div>
      <h4>{{ _('Comments') }}</h4>
      
      <p>{{ _('This user has no comments currently') }}</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
