{% macro form_field(field, id, aria_describedby=None) %}
  <label for={{ id }} class="form-label">{{ field.label }}</label>

  {% if field.errors %}
    {{ field(class='form-control is-invalid', id=id, aria_describedby=aria_describedby, **kwargs) }}
    
    {% for error in field.errors %}
      <div  class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  {% else %}
    {{ field(class='form-control', id=id, aria_describedby=aria_describedby, **kwargs) }}
  {% endif %}
{% endmacro %}

{% macro form_checkbox(field, id, label) %}
  {% if field.errors %}
    <div class="mb-3 form-check is-invalid">
      {{ field(class='form-check-input', id=id) }}
      
      <label class="form-check-label" for={{ id }}>
        {{ label }}
      </label>
    </div>
  {% else %}
    <div class="mb-3 form-check">
      {{ field(class='form-check-input', id=id) }}
      
      <label class="form-check-label" for={{ id }}>
        {{ label }}
      </label>
    </div>
  {% endif %}
{% endmacro %}


{% macro pagination_widget(pagination, endpoint) %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
      <a 
        class="page-link"
        href="
          {% if pagination.has_prev %} 
            {{ url_for(endpoint, page=pagination.page - 1, **kwargs) }} 
          {% else %}
            #
          {% endif %}
        "  
      >Previous</a>
    </li>
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if pagination.page == page %}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
      {% endif %}
    {% endfor %}

    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
      <a class="page-link" href="
        {% if pagination.has_next %}
          {{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}
        {% else %}
          #
        {% endif %}
        "
      >Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}
