<nav class="navbar navbar-expand-lg bg-ink navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white p-0" href="{{ url_for('main.index') }}">
      {{ _('Fihrist') }}
    </a>
    <button 
        class="navbar-toggler text-white" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarContent" 
        aria-controls="navbarContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav {% if _dir == 'ltr' %}me-auto{% else %}ms-auto{% endif %} mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white p-0" href="#">Link</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a 
              class="nav-link dropdown-toggle text-white p-0" 
              href="#" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
            {% if current_user.is_authenticated %}
              <img class="rounded-circle icon" src="{{ current_user.gavatar(size=26) }}">
            {% else %}
              <i class="bi bi-person-circle fs-5 icon"></i>
            {% endif %}
          </a>
          <ul class="dropdown-menu {% if _dir == 'ltr' %}dropdown-menu-end{% else %}dropdown-menu-start{% endif %}">
            {% if not current_user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="{{ url_for('auth.login') }}">
                {{ _('Login') }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('auth.register') }}">
                {{ _('Sign up') }}
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item" href="{{ url_for('blog.index') }}">
                <i class="bi bi-pencil-square icon"></i>
                {{ _('Blog') }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('user.settings') }}">
                <i class="bi bi-gear-fill icon"></i>
                {{ _('Settings') }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                <i class="bi bi-box-arrow-left icon"></i> 
                {{ _('Logout') }}
              </a>
            </li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            
            <li>
              <a 
                class="dropdown-item"
                {% if _locale == 'en' %}
                href="{{ url_for('main.set_language', lang='ar', next=url_for('main.index')) }}"
                {% elif _locale == 'ar' %}
                href="{{ url_for('main.set_language', lang='en', next=url_for('main.index')) }}"
                {% endif %}
              >
                <i class="bi bi-translate icon"></i>
                {{ _('Translate') }}
              </a>
            </li>
            
            {% if current_user.can(Permission.MODERATE) %}
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.moderator_dashboard') }}"> 
                <i class="bi bi-person-workspace icon"></i>
                {{ _('Moderate') }}
              </a>
            </li>
            {% endif %}
            
            {% if current_user.is_admin() %}
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.admin_dashboard') }}"> 
                <i class="bi bi-server icon"></i>
                {{ _('Administrate') }}
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
