{% extends 'base.html' %}
{% from 'includes/macros.html' import pagination_widget %}

{% block title %}{{ _('Homepage') }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container pt-4">
  <div class="row">
    
    <div class="col-lg-8 col-12">
      <h2 class="pb-2">{{ _('Latest Articles') }}</h2>
      
      {% for post in posts %}
      <div class="card mb-3" style="max-width: 100%">
        <div class="row g-0">
          <div class="">
            <div class="card-body">
              <a
                class="text-decoration-none d-block"
                href="{{ url_for('blog.get_post', slug=post.slug) }}">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.plain_content() }}...</p>
              </a>
              <p class="card-text mb-0">
                <small class="text-body-secondary">
                  <i class="bi bi-calendar-fill"></i>
                  <span class="time">{{ post.created_at }}</span>
                </small>
              </p>
              <p class="card-text mb-0">
                <small class="text-body-secondary">
                  Author: 
                  <a href="{{ url_for('user.profile', username=post.user.username) }}">
                    @{{ post.user.username }}
                  </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    
    {#
    <div class="col-lg-4 col-12">
      
      <div class="border rounded-2 overflow-hidden">
        <div class="card border-0 rounded-0">
          <h4 class="p-2 ps-3 pt-3">{{ _('Featured') }}</h4>
          <hr class="m-auto" style="margin:0; width:75%;">
          
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <hr class="m-auto" style="margin:0; width:75%;">
      </div>
      
    </div>
    #}
  </div>
  
  <div class="row mt-auto">
    {{ pagination_widget(pagination=pagination, endpoint='main.index') }}
  </div>
</div>
{% endblock %}
