{% extends 'base.html' %}
{% from 'includes/macros.html' import pagination_widget %}

{% block title %}
  {% if endpoint == 'main.index' %}
    {{ _('Homepage') }}
  {% elif endpoint == 'main.get_by_category' %}
    {{ current_category.name }}
  {% endif %}
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container pt-4">
  <div class="row">
    
    <div class="col-lg-8 col-12">
      {% if endpoint == 'main.index' %}
        <h2 class="pb-2">{{ _('Latest Articles') }}</h2>
      {% elif endpoint == 'main.get_by_category' %}
        <h2 class="pb-2">{{ current_category.name }}</h2>
      {% endif %}
      
      
      {% for post in posts %}
      <div class="card mb-3" style="max-width: 100%">
        <div class="row g-0">
          <div class="">
            <div class="card-body">
              <a
                class="text-decoration-none d-block"
                href="{{ url_for('blog.get_post', slug=post.slug) }}">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.plain_content() }}...</p>
              </a>
              <p class="card-text mb-0">
                <small class="text-body-secondary">
                  <i class="bi bi-calendar-fill"></i>
                  <span class="time">{{ post.created_at }}</span>
                </small>
              </p>
              <p class="card-text mb-0">
                <small class="text-body-secondary">
                  Author: 
                  <a href="{{ url_for('user.profile', username=post.user.username) }}">
                    @{{ post.user.username }}
                  </a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    
    
    <div class="col-lg-4 col-12">
      
      <div class="border rounded-2 overflow-hidden p-3">
        <h5>{{ _('Categories') }}</h5>
        {% for category in categories %}
          <p>
            <a href="{{ url_for('main.get_by_category', slug=category.slug) }}">
              {{ category.name }}
            </a>
          </p>
        {% endfor %}
        <hr class="m-auto" style="margin:0; width:75%;">
      </div>
      
    </div>
    
  </div>
  
  <div class="row mt-auto">
    {% if endpoint == 'main.index' %}
      {{ pagination_widget(pagination=pagination, endpoint=endpoint) }}
    {% elif endpoint == 'main.get_by_category' %}
      {{ pagination_widget(pagination=pagination, endpoint=endpoint, slug=current_category.slug) }}
    {% elif endpoint == 'user.feed' %}
      {{ pagination_widget(pagination=pagination, endpoint=endpoint) }}
    {% endif %}
  </div>
</div>
{% endblock %}
